.gallery {
  max-width: 1440px;
  margin: 0 auto;
  padding: 24px 156px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-item:hover,
.gallery-item:focus {
  transform: scale(1.04);
}

.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: cover;
}

.sl-wrapper {
  background-color: rgba(46, 47, 66, 0.8);
}

.simple-lightbox > button.sl-close,
.simple-lightbox > div.sl-counter,
.simple-lightbox > .sl-navigation > button.sl-next,
.simple-lightbox > .sl-navigation > button.sl-prev {
  color: #ffffff;
}
