@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

@import url('./gallery.css');
@import url('./form.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.nav-list {
  margin: 25px;
}

.nav-link,
.page-link {
  font-size: 20px;
  display: block;
  margin: 10px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.page-link:hover {
  font-weight: 600;
}
